<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iqube.devotionapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_photos"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.iqube.devotionapp.MainActivity"
            android:label="@string/app_name" 
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
        </activity>
         <activity
            android:name="com.iqube.api.SampleLinesStyledLayout"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BookmarkedContent">

        </activity>
        <activity android:name=".DailyDevotionalFragment"
                  android:uiOptions="splitActionBarWhenNarrow">

            <meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" />
            <!--<meta-data-->
                    <!--android:name="android.support.PARENT_ACTIVITY"-->
                    <!--android:value="com.iqube.devotionapp.MainActivity" />-->

        </activity>



    </application>

</manifest>
